# 京东Cookie自动提交 - Quantumult X 重写订阅
# 使用方法：复制下方链接添加到重写订阅
# https://raw.githubusercontent.com/rkuhua/JD_cookie/main/jdck.snippet

[rewrite_local]
# 京东Cookie获取
^https?:\/\/api\.m\.jd\.com\/client\.action\?functionId=(wareBusiness|serverConfig|basicConfig) url script-request-header https://raw.githubusercontent.com/rkuhua/JD_cookie/main/jdck.js

[mitm]
hostname = api.m.jd.com
